<div class="center hero-unit">
  <h1>Binge Bank</h1>
  <p>Being bad never felt so good</p>
</div>
<center><h2 style="color: #000000"><%= params['msg'] %> Enter Your Binge</h2></center>
<form class="form-horizontal" id="sinform" action="newSin" method="post">
  <div class="control-group">
    <label class="control-label"> Phone # </label>
    <div class="controls">
      <input type="text" class="input-medium bfh-phone" data-country="US" name="phone" placeholder="555-555-5555"/>
    </div>
	</div>
	<div class="control-group">
	  <label class="control-label" >Sin</label>
	  <div class="controls">
	    <select name="sin" class="input-medium" > 
        <%= SinType.all.each do |sintype| %>
          <option value="<%= sintype.name %>"><%= sintype.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >Quantity</label>
    <div class="controls">
      <input type="text" class="input-medium" placeholder="1" name="quantity" >
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >Remind me in</label>
    <div class="controls">
      <select name="remindertime" class="input-medium" > 
        <option value="1">1 day</option>
        <option value="2">2 days</option>
        <option value="3">3 days</option>
      </select>
    </div>  
  </div>      
  <div class="center"><button class="btn btn-large btn-primary"  type="submit">Bank My Binge!</button></div>  				 	  
</form>
