<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Activity Type</th>
            <th>Start Time</th>
            <th>Duration</th>
          </tr>
          </thead>
          <tbody>
        <% if current_user.rk_token %>
        <% fitness_activities.each do |fa| %>
        <tr>
          <td><%= fa.type %></td>
          <td><%= fa.start_time%></td>
          <td><%= Time.at(fa.duration).utc.strftime("%H:%M:%S") %></td>
        </tr>
        <% end %>
        <% end %>
        </tbody>
        </table>
    </section>
  </aside>
</div>